<app-zippy title="Course List" class="col-md-6 mb-3">
    <app-courses></app-courses>
</app-zippy>
<app-zippy title="Titlecase" class="col-md-6 mb-3">
    <app-titlecase class="col-md-6 mb-3"></app-titlecase>
</app-zippy>
<app-zippy title="Template-driven Form" class="col-md-6 mb-3">
    <app-course-form></app-course-form>
</app-zippy>
<app-zippy title="Reactive Signup Form" class="col-md-6 mb-3">
    <app-change-password></app-change-password>
</app-zippy>
<app-zippy title="Todo List" class="col-md-6 mb-3">
    <app-todo-list></app-todo-list>
</app-zippy>
<app-zippy title="Posts" class="col-md-6 mb-3">
    <app-posts></app-posts>
</app-zippy>
<app-zippy title="Follower GitHub API" class="col-md-6 mb-3">
    <app-followers></app-followers>
</app-zippy>
